---
---

<div>
  <p>
    A few of my favorite personal projects:
  </p>
  <ul class="mt-5">
    <li>
      <a href="https://nhrm2-5aaaa-aaaad-qau4a-cai.ic.fleek.co/">
        <strong class="unset mr-0 hover:text-text-link">Digit Guesser:</strong>
      </a>
      An early example of an AI smart contract hosted on the Internet Computer Blockchain.
    </li>
    <li>
      <a href="https://github.com/crabtr26/Line-Graphs-of-Platonic-Solids/blob/master/Platonic_Line_Graphs.ipynb">
        <strong class="unset mr-0 hover:text-text-link">Line Graphs of the Platonic Solids:</strong>
      </a>
      An investigation into the geometric relationship between the graphs of the Platonic Solids and their corresponding line graphs.
    </li>
    <!-- <li>
      Some renderings of the Platonic Solids that I created using Blender:
      <img src="" alt="Platonic Solids Rendering">
    </li>
    <li>
      My battlestation:
      <img src="" alt="Battle Station">
    </li> -->
    <li>
      More to come...
    </li>
  </ul>
</div>
