<footer class="py-16 px-8">
  <div class="border-t dark:border-gray-600 px-4 pt-2 pb-8">
    <div
      class="container mx-auto my-0 flex flex-col md:flex-row justify-between items-center md:items-start"
    >
      <nav class="pb-3 md:pb-0">
        <ul class="flex justify-center md:justify-start space-x-4">
          <a href="/" class="unset hover:text-text-link">Home</a>
          <a href="/blog" class="unset hover:text-text-link">Blog</a>
          <a href="/projects" class="unset hover:text-text-link">Projects</a>
        </ul>
      </nav>
      <div class="md:mt-1 md:text-right">
        <div class="flex justify-center md:justify-end space-x-4">
          <a href="mailto:crabtr26@proton.me" class="unset text-xl hover:text-text-link">
            <i class="fa-solid fa-envelope" aria-hidden="true" title="Email to crabtr26@proton.me"></i>
          </a>
          <a
            href="https://github.com/GoldToothRichards"
            class="unset text-xl hover:text-text-link"
          >
            <i
              class="fa-brands fa-github"
              aria-hidden="true"
              title="GoldToothRichards on GitHub"></i>
          </a>
          <a
            href="https://twitter.com/crabtr26"
            class="unset text-xl hover:text-text-link"
          >
            <i
              class="fa-brands fa-x-twitter"
              aria-hidden="true"
              title="GoldToothRichards on Twitter"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/jacob-crabtree-7ab72610a/"
            class="unset text-xl hover:text-text-link"
          >
            <i
              class="fa-brands fa-linkedin"
              aria-hidden="true"
              title="Jacob Crabtree on LinkedIn"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
