---

---

<footer
  class="mx-auto max-w-screen-2xl py-16 px-8 md:px-24 h-24 flex items-center justify-between md:justify-start md:gap-24 dark:text-white"
>
  <div class="flex items-center gap-2">
    <span>Built with</span>
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605]"
      href="https://github.com/flexdinesh/blogster"
      target="_blank"
    >
      Blogster.
    </a>
    <span>Hosted on</span>
    <a
      class="gradient-link tracking-wider font-bold bg-clip-text bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
      href="https://juno.build"
      target="_blank"
    >
      <svg
        id="Layer_2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1000 220.39"
        width="60"
        fill="currentColor"
        class="inline-block align-middle"
      >
        <g>
          <path
            d="m238.29,0h220.39v110.19c0,60.82-49.38,110.19-110.19,110.19h0c-60.82,0-110.19-49.38-110.19-110.19V0h0Z"
          ></path>
          <path
            d="m487.36,214.99h220.39v-104.8c0-60.86-49.34-110.19-110.19-110.19h-110.19s0,214.99,0,214.99Z"
          ></path>
          <rect
            x="725.65"
            y="0"
            width="220.39"
            height="220.39"
            rx="110.19"
            ry="110.19"></rect>
          <path
            d="m101.31,0c0,55.96-45.36,101.32-101.31,101.32v119.07C121.72,220.39,220.39,121.72,220.39,0h0s-119.07,0-119.07,0Z"
          ></path>
          <circle class="cls-1" cx="931.86" cy="68.14" r="68.14" fill="#7888ff"
          ></circle>
        </g>
      </svg>.
    </a>
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: 0px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>
