<footer class="py-8 md:py-12">
  <div class="border-t dark:border-gray-600">
    <div class="container mx-auto px-4 py-6 flex flex-col md:flex-row justify-between items-center">
      <div>
        <p class="text-sm text-text-muted">
          &copy; {new Date().getFullYear()} Jacob Crabtree
        </p>
      </div>
      <div class="mt-4 md:mt-0">
        <div class="flex justify-center md:justify-end space-x-4">
          <a
            href="mailto:crabtr26@proton.me"
            class="unset text-xl hover:text-text-body/50"
            aria-label="Email"
          >
            <i
              class="fa-solid fa-envelope"
              aria-hidden="true"
              title="Email to crabtr26@proton.me"></i>
          </a>
          <a
            href="https://github.com/GoldToothRichards"
            class="unset text-xl hover:text-text-body/50"
            aria-label="GitHub"
          >
            <i
              class="fa-brands fa-github"
              aria-hidden="true"
              title="GoldToothRichards on GitHub"></i>
          </a>
          <a
            href="https://twitter.com/crabtr26"
            class="unset text-xl hover:text-text-body/50"
            aria-label="Twitter"
          >
            <i
              class="fa-brands fa-x-twitter"
              aria-hidden="true"
              title="GoldToothRichards on Twitter"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/jacob-crabtree-7ab72610a/"
            class="unset text-xl hover:text-text-body/50"
            aria-label="LinkedIn"
          >
            <i
              class="fa-brands fa-linkedin"
              aria-hidden="true"
              title="Jacob Crabtree on LinkedIn"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
