---

---

<div>
  <p>A few of my favorite personal projects:</p>
  <ul class="mt-3">
    <li>
      <a class="unset" href="https://github.com/GoldToothRichards/yampa">
        <strong class="hover:text-text-link">Yampa:</strong>
      </a>
      A real time streaming tool for stocks and cryptocurrencies.
    </li>
    <li>
      <a class="unset" href="https://nhrm2-5aaaa-aaaad-qau4a-cai.ic.fleek.co/">
        <strong class="hover:text-text-link">Digit Guesser:</strong>
      </a>
      An AI smart contract that runs in your browser.
    </li>
    <li>
      <a
        class="unset"
        href="https://github.com/GoldToothRichards/iceberg-rest-catalog"
      >
        <strong class="hover:text-text-link">Iceberg Rest Python:</strong>
      </a>
      A FastAPI implementation of the Apache Iceberg REST specification.
    </li>
    <li>
      <a
        class="unset"
        href="https://github.com/GoldToothRichards/blend_frames_demo"
      >
        <strong class="hover:text-text-link">Blend Frames:</strong>
      </a>
      A simple rust extension for blending together image frames from a bounded queue.
    </li>
    <li>
      <a class="unset" href="https://arxiv.org/abs/1810.11744">
        <strong class="hover:text-text-link"
          >Another Enumeration of Caterpillar Trees:</strong
        >
      </a>
      An original proof of a counting theorem in graph theory.
    </li>
    <li>
      <a class="unset" href="https://github.com/GoldToothRichards/juno_blog">
        <strong class="hover:text-text-link">Juno Blog:</strong>
      </a>
      This blog, hosted on the Internet Computer Blockchain.
      <img
        src="/images/internet-computer-icp-logo.svg"
        alt="Internet Computer Blockchain Logo"
        style="width:35px; height:auto; vertical-align:middle; margin-left:5px; display:inline;"
      />
    </li>
    <li>
      <a class="unset" href="https://www.flickr.com/photos/200898327@N03">
        <strong class="hover:text-text-link">Platonic Solids:</strong>
      </a>
      Some renderings that I created using blender.
      <img
        class="mt-2"
        src="/images/platonic_solids.webp"
        alt="Platonic Solids Rendering"
      />
    </li>
    <li>More to come...</li>
  </ul>
</div>
