---

---

<section class="mb-8 mt-4">
  <div class="mb-6">
    <div class="mb-4 flex items-center justify-center">
      <img
        src="/images/headshot.avif"
        alt="Jacob Crabtree Headshot"
        class="w-24 h-24 md:w-28 md:h-28 rounded-full mr-1 sm:mr-4"
      />
      <h1
        class="font-bold uppercase text-center text-4xl md:text-5xl tracking-tighter py-6 overflow-hidden"
      >
        <span
          class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
        >
          Jacob Crabtree
        </span>
      </h1>
    </div>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-6 sm:gap-4"
    >
      <a href="mailto:crabtr26@proton.me" class="unset hover:text-text-body/50">
        <i
          class="fa-solid fa-envelope text-3xl sm:text-xl mt-1"
          aria-hidden="true"
          title="Email to crabtr26@proton.me"></i>
        <span class="hidden sm:inline-block">Email</span>
      </a>
      <a
        class="unset hover:text-text-body/50"
        href="https://github.com/GoldToothRichards"
      >
        <i
          class="fa-brands fa-github text-3xl sm:text-xl mt-1"
          aria-hidden="true"
          title="GoldToothRichards on GitHub"></i>
        <span class="hidden sm:inline-block">GitHub</span>
      </a>
      <a
        class="unset hover:text-text-body/50"
        href="https://twitter.com/crabtr26"
        aria-label="GoldToothRichards on Twitter"
      >
        <i
          class="fa-brands fa-x-twitter text-3xl sm:text-xl mt-1"
          aria-hidden="true"
          title="GoldToothRichards on Twitter"></i>
        <span class="hidden sm:inline-block">Twitter</span>
      </a>
      <a
        class="unset hover:text-text-body/50"
        href="https://www.linkedin.com/in/jacob-crabtree-7ab72610a/"
        aria-label="Jacob Crabtree on LinkedIn"
      >
        <i
          class="fa-brands fa-linkedin text-3xl sm:text-xl mt-1"
          aria-hidden="true"
          title="Jacob Crabtree on LinkedIn"></i>
        <span class="hidden sm:inline-block">LinkedIn</span>
      </a>
    </div>
  </div>
</section>
