---
---

<section class="mt-8 bg-bg-body dark:bg-bg-body border border-text-muted dark:border-text-muted rounded p-4 sm:p-8 text-center">
  <h2 class="text-2xl font-bold mb-4 text-text-heading">Let's Connect!</h2>
  <p class="mb-6 text-text-body">
    If you find something here interesting, I would love to chat!
    Whether you have questions, business inquiries, or just want to discuss tech, I'm always eager to meet like-minded folks.
  </p>
  <div class="flex justify-center">
    <a
      href="https://calendly.com/crabtr26"
      class="px-4 py-2 text-lg font-bold border-2 border-text-link hover:border-text-link/50 transition-colors duration-300 ease-in-out"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-solid fa-calendar-check mr-2 text-text-link" aria-hidden="true"></i>
      Schedule a Meeting
    </a>
  </div>
</section>
