---

---

<section class="mt-8">
  <div>
    <p>
      If you find something here interesting, I would love to chat about it!
      Feel free to reach out to me on social media or via email.
    </p>
  </div>
</section>
