---
const resumeUrl = "/resume";
---

<a
  href={resumeUrl}
  target="_blank"
  class="unset hover:text-text-link flex items-center"
>
  Resume
  <i class="fa-solid fa-up-right-from-square ml-1 text-xs" aria-hidden="true"></i>
</a>
